<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="TicTacToe" connectionString="SERVER=127.0.0.1; USER=espirj96; PASSWORD=x370796; DATABASE=espirj96; PORT=3306"/>
  </connectionStrings>
</configuration>